[Unit]
Description=Staging Server
After=network.target

[Service]
User=pacosako
WorkingDirectory=/home/pacosako/stage/backend
ExecStart=/home/pacosako/stage/backend/pacosako stage-config.toml
Restart=always

[Install]
WantedBy=multi-user.target
