# Production server: pacoplay.com
pacoplay.com {
	reverse_proxy localhost:8000
	encode gzip
}

# Redirect www.pacoplay.com to pacoplay.com
www.pacoplay.com {
	redir https://pacoplay.com{uri}
}

# Test server: dev.pacoplay.com
dev.pacoplay.com {
	reverse_proxy localhost:8001
	encode gzip
}

# Static artifact hosting for ML models
static.kreibaum.dev {
	root * /home/pacosako/static
	file_server browse
}