<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A Place to play Paco Ŝako a.k.a. Peace Chess, online."
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/a/favicon.svg?hash={{ favicon_hash }}"
      sizes="any"
    />
    <link rel="manifest" href="/manifest.json" />
    <title>Paco Ŝako</title>
    <script>
      var lib_worker_hash = "{{ lib_worker_hash }}";
      var wasm_js_hash = "{{ wasm_js_hash }}";
      var wasm_hash = "{{ wasm_hash }}";
      var my_user_name = "{{ name }}";
      var my_user_id = {{ user_id }};
      var my_user_avatar = "/p/{{ avatar }}";
    </script>
    <script src="/js/elm.min.js?hash={{ elm_hash }}&lang={{ lang }}"></script>
    <script src="/js/main.min.js?hash={{ main_hash }}" defer></script>
    <style>
      #offscreen-canvas {
        display: none;
      }
    </style>
  </head>

  <body>
    <canvas id="offscreen-canvas"> Canvas not supported </canvas>
    <div id="elm"></div>
  </body>
</html>
