<!DOCTYPE html>
<html>
  <head>
    <title>Secret Login Page</title>
  </head>
  <body>
    <h1>Secret Login Page</h1>

    <a href="/">Go to web app</a>

    {% if name != "-" %}
    <h2>Currently logged in user:</h2>
    <img
      src="/p/{{ avatar }}"
      alt="Avatar"
      width="100px"
      height="100px"
      style="float: left; margin-right: 15px; margin-bottom: 10px"
    />
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Avatar:</strong> {{ avatar }}</p>

    <div style="clear: both"></div>
    {% endif %}

    <h2>Login with username/password</h2>

    <p>Logging in with username/password is only done for development!</p>

    <form id="login-form">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />

      <button type="button" id="submit-button">Submit</button>
    </form>

    <h2>Logout</h2>
    <button id="logout-button">Logout</button>

    <script>
      document
        .getElementById("submit-button")
        .addEventListener("click", function () {
          const username = document.getElementById("username").value;
          const password = document.getElementById("password").value;

          const data = {
            username: username,
            password: password,
          };

          fetch("/api/username_password", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          })
            .then((response) => {
              if (response.ok) {
                // Handle successful login
                console.log("Login successful");
                location.reload();
              } else {
                // Handle login error
                console.error("Login failed");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
      document
        .getElementById("logout-button")
        .addEventListener("click", function () {
          fetch("http://localhost:8000/api/logout", {
            method: "GET",
          })
            .then((response) => {
              if (response.ok) {
                // Handle successful logout
                console.log("Logout successful");
                location.reload();
              } else {
                // Handle logout error
                console.error("Logout failed");
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
    </script>
  </body>
</html>
